$mainCol: #846add;

.sameclass {
  .overlay {
    form {
      min-width: 100%;
      .row {
        background: rgba(0, 0, 0, 0.7);
        padding: 90px 0;
        border-radius: 15px;
        min-height: 75vh;
        .image {
          display: flex;
          justify-content: center;
        }
        .inputform {
          margin: auto;

          input {
            width: 70%;
            background: #ccc;
            color: $mainCol;
            font-size: 20px;
            outline: none;
            padding: 10px 25px;
            border-radius: 34px;
            margin-bottom: 15px;
            &::placeholder {
              color: $mainCol;
            }
          }
        }
      }
    }
  }
}
