.sameclass {
  .overlay {
    .row {
      // Start title class
      .title {
        margin: auto 0;
        h2 {
          font-family: Motserrat-Regularn;
          color: #ffc107;
          font-size: 39px;
          text-shadow: 0 0 7px #ff0000, 0 0 5px #f44336;
          margin-bottom: 30px;
          letter-spacing: 5px;
        }
        p {
          font-family: cursive;
          font-size: 21px;
          color: #cddc39;
          font-style: italic;
        }
      }
      // End title class

      // Start movie class
      .movie {
        img {
          border-top-left-radius: 50px;
          border-bottom-right-radius: 50px;
        }
        .head-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 10px;

          p {
            margin-bottom: 0;

            i {
              color: #f5c518;
            }
          }
          .btn {
            color: white;
          }
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        p {
          color: #ffeb3b;
          font-size: 18px;
          font-style: italic;
          margin-top: 15px;
        }
      }
      // End movie class
    }
  }
}
hr {
  color: #5757b8;
  margin-bottom: 40px;
  height: 4px;
}
.actor-name {
  color: #ffeb3b;
  font-size: 18px;
  font-style: italic;
  display: inline;
  margin-right: 15px;
}

.carousel {
  border-radius: 100%;
  box-shadow: 0px 0px 22px #ff0000, 0 0 29px #f44336;
}

////////scroll to top button
.to-top {
  position: fixed;
  top: 92%;
  right: 2%;
  font-size: 30px;
  color: #ffc107;
  cursor: pointer;
  transition: all 1s ease-in-out;
  animation: lognarrow 0.7s linear infinite;
}
.show {
  opacity: 0;
}

@keyframes lognarrow {
  100% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 768px) {
  .sameclass .movie {
    margin-top: 50px;
  }
  .sameclass .title {
    text-align: center;
  }
}
