.nav {
  background: #5840a8 !important;
}
.navbar-brand {
  font-family: Motserrat-Regularn;
  color: #ffc107;
  font-size: 39px;
  text-shadow: 0 0 7px #ff0000, 0 0 5px #f44336;
}
li {
  display: flex;
  justify-content: flex-end;
}
