<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Trend Film</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mr-auto" href="#">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" routerLink="">Trend Film</a>
      </div>

      <div class="col-md-9">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div *ngIf="auth.isLogin()">
              <button class="btn btn-danger btn-sm my-3" (click)="logOut()">
                {{ "logout" | titlecase }}
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
