<div class="nav">
  <div class="container">
    <div class="parent">
      <div class="nav-brand">
        <a class="navbar-brand" routerLink="">Trend Film</a>
      </div>
      <div class="logout">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div *ngIf="auth.isLogin()">
              <button class="btn btn-danger btn-sm my-3" (click)="logOut()">
                {{ "logout" | titlecase }}
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
