$mainCol: #846add;

.sameclass {
  .overlay {
    form {
      min-width: 100%;
      .row {
        background: rgba(0, 0, 0, 0.7);
        padding: 90px 0;
        border-radius: 15px;
        min-height: 75vh;
        margin: 20px 0;
        .image {
          display: flex;
          justify-content: center;
        }
        .inputform {
          .alertform {
            color: $mainCol;
            font-family: Motserrat-Regularn;
            font-style: italic;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .signup .overlay .container .row .inputform input {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .signup .overlay .container .row {
    padding: 0;
  }
}
